html {
  height: 100%;
  width: 100%;
}


body {
  background: lightcyan;
  font-family:Courier;
  
}
.topnav {
  background: #87CEFA;
  overflow: hidden;
  
}

.topnav a {
  float: left;
  color: midnightblue;
  text-align: center;
  padding: 14px 200px;
  text-decoration: none;
  font-size: 17px;
}

h1 {
  text-align: center;
  color: midnightblue;
}

.container {
  justify-content: center;
  display: flex;
}

img {
  float: left;
  padding: 100px;
}

.text {
  padding-left: 41px;
  padding-top: 10px;
  float: left;
  font-size: 17px;
  color: midnightblue
}

.img23{
  float: left;
  padding: 10px 100px;
}


p {
  color:midnightblue;
  font-size: 17px;
}